* {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("");
    background-repeat: no-repeat;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(35, 35, 38, 1) 50%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.titulo {
    display: block;
    text-align: center;
    margin-top: 15%;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 4%;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 3%;
    border: 4px solid black;
    border-radius: 5px;
}

.questao {
    gap: 15px;
    margin-bottom: 3%;
    margin: 0.5%;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

label {
    font-size: 25px;
}

input {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30vw;
    border: 2px solid black;
    color: black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}

h3 {
    text-align: center;
}

#quantidadeFerramenta {
    width: 4vw;
    text-align: center;
}

.registrar {
    font-weight: bold;
    font-size: larger;
    width: 30vw;
    padding: 5px;
    margin: 0 auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 5px;
    border: none;
    transition: background-color 0.8s ease;
    background-color: #000000;
    display: block;
}

.registrar:hover {
    cursor: pointer;
    background-color: rgba(23, 159, 23, 0.4);
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

th,
td {
    padding: 12px;
    border: 1px solid #877f7f;
}

th {
    font-size: 20px;
    background-color: #000000;
    color: white;
    font-weight: bold;
}

tr {
    transition: background-color 0.8s ease;
}

tr:nth-child(even) {
    background-color: #0000007b;
    color: black;
}

tr:hover {
    background-color: rgba(60, 61, 60, 0.4);
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
    form{
        width: 40%;
    }
    .questao {
        display: block;
        text-align: center;
    }

    #quantidadeFerramenta {
        width: 30vw;
    }

    .registrar {
        margin-top: 5%;
        margin-bottom: 2%;
        width: 30vw;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
    .questao {
        display: block;
        text-align: center;
    }

    #quantidadeFerramenta {
        width: 30vw;
    }

    .registrar {
        margin-top: 5%;
        margin-bottom: 2%;
        width: 30vw;
    }

    .titulo {
        margin-top: 60%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .titulo {
        margin-top: 100%;
    }

    .questao {
        display: block;
        text-align: center;
    }

    #quantidadeFerramenta {
        width: 30vw;
    }

    .registrar {
        margin-top: 5%;
        margin-bottom: 2%;
        width: 30vw;
    }
}

@media screen and (max-width: 800px) and (min-width: 650px) {
    .titulo {
        margin-top: 80%;
    }

    .questao {
        display: block;
        text-align: center;
    }

    #quantidadeFerramenta {
        width: 30vw;
    }

    .registrar {
        margin-top: 5%;
        margin-bottom: 2%;
        width: 30vw;
    }

    button {
        padding: 5px 10px;
        font-size: 1rem;
    }

    table {
        width: 40%;
        font-size: 1rem;
        overflow-x: auto;
    }

    th {
        font-size: 1rem;
    }

    th,
    td {
        padding: 5px;
    }
}

@media screen and (max-width: 650px) {
    .titulo {
        margin-top: 80%;
    }

    .questao {
        display: block;
        text-align: center;
    }

    #quantidadeFerramenta {
        width: 30vw;
    }

    .registrar {
        margin-top: 5%;
        margin-bottom: 2%;
        width: 30vw;
    }

    button {
        padding: 5px 10px;
        font-size: 0.6rem;
    }

    table {
        width: 40%;
        font-size: 0.75rem;
        overflow-x: auto;
    }

    th {
        font-size: 0.75rem;
    }

    th,
    td {
        padding: 5px;
    }
}
